.card-container {
    background: rgb(255,124,150);
    background: radial-gradient(circle, rgba(255,124,150,1) 0%, rgba(255,21,68,1) 100%);
    display: flex;
    flex-direction: column;
    color: black;
    margin-top: 2em;
    border: 10px solid rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    min-width: 320px;
    max-width: 320px;
    max-height: 500px;
    min-height: 500px;
    position: relative;
    font-size: 16px;
    }

.card-container .card-title {
    background-color: rgb(255, 255, 255, .5);
    margin: 3%;
    height: 5%;
    align-items: center;
    justify-content: center;
    justify-content: center;
    justify-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    border-radius: .4em;
    position: absolute;
    width: 93%;
    height: 6%;
}

.card-container .card-title h4 {
    background-color: white;
    border-radius: 50%;
    width: 1.2em;
    position: absolute;
    margin-left: 93%;
    font-size: 1.8em;
    font-family: 'card';
    
}

.card-container .card-title h3 {
    font-size: 1.1em;
    text-align: center;
    font-family: 'card';
    padding-top: 1%;
    position: absolute;
}

.card-container .background-image {
    position: absolute;
    margin: 3%;
    top: 8%;
}

.card-container .background-image img {
    border-radius: .4em;
    margin: 0px 0px 0px 0px;
}

.card-container .card-type {
    background-color: rgb(255, 255, 255, .5);
    margin: 3%;
    height: 6%;
    width: 91%;
    top: 58%;
    align-items: center;
    justify-content: left;
    display: flex;
    border-radius: .4em;
    padding-left: 10px;
    position: absolute;
}

.card-container .card-type h3 {
    font-size: 1em;
    font-family: 'card';
    padding-top: 0.3em;
}



.card-container .card-description {
    margin: 3%;
    background-color: rgb(255, 255, 255, .7);
    border-radius: 0.4em;
    height: 30%;
    position: absolute;
    top: 66%;
}

.card-container p {
    font-size: .9em;
    text-align: left;
    margin: 3%;
    font-family: 'card';
}




.card-container .card-description .card-stats {
    background-color: rgb(255, 255, 255, 0.6);
    display: flex;
    flex: row;
    margin-top: 6%;
    height: 1.3em;
    border-radius: .4em;
    border-top: 1px solid black;
    position: absolute;
    width: 100%;
    top: 73%;
}

.card-container .card-description .card-stats h5 {
    font-size: 1em;
    margin: 0px 0px 0px 0px;
    padding-left: .5em;
    
    
}

@font-face {

    font-family: 'card';
    src: url(../../assets/fonts/card.ttf);
    }