.GameSummary {
background-color: rgb(234, 222, 214);
display: grid;
grid-template-columns: 500px 500px;
color: black;
margin-top: 2em;
width: 800px;
}

.GameSummary .right-panel {
text-align: left;
}

.GameSummary .right-panel h1 {
font-size: 1.0em;
}

.GameSummary .right-panel h2 {
font-size: 0.7em;
}

@font-face {
  
font-family: 'sans-bold';
src: url(../../assets/fonts/SourceSans3-Bold.ttf);
}

@font-face {
  
font-family: 'sans-regular';
src: url(../../assets/fonts/SourceSans3-Regular.ttf);
}

@font-face {
  
font-family: 'sans-light';
src: url(../../assets/fonts/SourceSans3-Light.ttf);
}
