.SetupPage {
  display: flex;
  flex-direction: column;
}

.SetupPage .setup {
  background-color: rgb(251, 241, 223);
  width: 30vw;
  margin-left: 35vw;
  border: 2px solid black;
}

.SetupPage .setup h3 {
  margin-bottom: 0px;
}

.SetupPage .setup h4 {
  margin-top: 0px;
  font-style: italic;
}

.SetupPage .setup input {
  background-color: rgb(255, 255, 255);
  font-size: 20px;
}

.SetupPage .setup label {
  font-size: 20px;
}

.SetupPage .setup button {
  width: 8vw;
  height: 1.5vw;
  background-color: darkred;
  font-style: bold;
}
